@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,..900');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: antiquewhite;
    min-height: 100vh;
    background: #fafafa;
    
}

header {
    min-height: 70px;
    margin: 0px;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    display: flex;
    height: 160px;
}

.t-home {
    display: flex;
    align-items: center;
    color: coral;
}

.t-services {
    display: flex;
    align-items: center;
    color: #62baea;
}

nav a {
    font-weight: 500px;
    padding-right: 10px;
    justify-content: flex-end;
}

nav button {
    background-color: rgb(141, 170, 243);
    border-radius: 7px;
    padding: 5px 20px;
    color: black;

}

nav a:hover {
    color: coral
}

.image1{
    height: 500px;
}

.cuenta{
    margin-right: 500px;
    color: coral;
}

.registro_usuario a {
    background-color: rgb(141, 170, 243);
    border-radius: 7px;
    padding: 5px 20px;
    color: black;

}

.registro_usuario{
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
}
