@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,..900');

$colorOrange: rgb(231, 74, 42);
$colorBlue: rgb(42, 102, 243);

// @use 'banner-layer';

// * {
//     margin: 0;
//     padding: 0;
//     font-family: 'Poppins', sans-serif;
//     list-style: none;
//     text-decoration: none;
//     box-sizing: border-box;
// }

body {

    background-color: antiquewhite;
    background: #fafafa;
}


.title {

    font-size: 25px;

}

/*navbar barra de navegacion*/

.color-home {
    color: $colorOrange;
}

.color-services {
    color: $colorBlue;
}

/*banner*/

.banner {

    position: relative;
    width: 100%;
    height: calc(108vh - 50px);
    background-image: url(/img/niñera.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .banner-layer {

        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.75);
    }

    .banner-content {

        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        // color: rgba(255, 255, 255, 0.649);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .banner-content h2 {
            margin: 20px;
            font-size: 30px;
        }

        .banner-content p {
            margin: 20px;
            font-size: 18px;
        }


    }

}

/*cards*/

.card-text {
    text-align: justify;
}

/*section 3 Home Service*/

.card-style { 

    background-color: #fffaf7;
    border: 1px solid rgb(248, 214, 193);
    border-radius: 0.50rem;
    margin: 0.2%;
}

.col-without-padding{
    padding: 0%;
}

// .card:hover{
//     opacity: 0.7;  /*cambiar*/
// }

/*footer*/

.grid-footer-nav {
    // display: flex;
    // justify-content: center;
    font-size: x-large;
    margin-bottom: 2%;
        // hyphens: auto;
        // letter-spacing: 10px;
    

}

/*buttons sing up and login*/
$custom-colors: (
    "color-orange": #d7986bbd,
    "color-blue": rgb(93, 128, 151),
);

$theme-colors: map-merge($theme-colors, $custom-colors);